---
title: Ladder Climber
---
<div class="header">
  <h1>Ladder Climber - a photo slideshow quiz</h1>
</div>

<div class="container active">
  <h3>Click photo to start slideshow</h3>
  <div class="attract">
  </div>
</div>

<div class="load">
</div>